#div1{
    color: red;
    font-size: 30px;
    background: #cccccc;
}

#js{
    color: blue;
    font-size: 40px;
    background: #aabbcc;
}
.aa{
    font-weight: bold;
    text-decoration: underline;
}